@model RegisterModel
@{
    ViewBag.Title = "Rejestracja";
    Layout = "_Layout";
}

<h2>Rejestracja</h2>

@if (!Html.ViewData.ModelState.IsValid)
{
<div class="alert alert-danger" role="alert">
   @Html.ValidationSummary()
</div>
}

<form method="post">
    <div class="mb-2">
        <label asp-for="Username">Nazwa użytkownika</label>
        @Html.TextBoxFor(m=>m.Username, new { @class="form-control"})
    </div>
    <div class="mb-2">
        <label asp-for="Password">Email</label>
        @Html.TextBoxFor(m=>m.Email, new {@class = "form-control"})
    </div>
    <div class="mb-2">
        <label asp-for="Password">Hasło</label>
        @Html.PasswordFor(m=>m.Password, new {@class="form-control"})
    </div>
    <div class="mb-2">
        <label asp-for="Password2">Powtórz hasło</label>
        @Html.PasswordFor(m=>m.Password2, new {@class="form-control"})
    </div>
    <button class="btn btn-primary" type="submit">Utwórz konto</button>
</form>